<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:label="PadPlay"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PadPlay"
        tools:ignore="DataExtractionRules">

        <!-- Fixed orientation and non-resizable are both deliberate: this
             activity is a 1:1 pixel surface for the host's stream, matched
             to the tablet's native panel orientation. Letterboxing or
             free-form resize would misalign it, not just look different. -->
        <activity
            android:name=".DisplayActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:resizeableActivity="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density|smallestScreenSize"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:ignore="DiscouragedApi,NonResizeableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
